body{
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-weight: bold;
  text-align: center;
  font-family: 'Righteous', cursive;

}

h2{
  font-weight: bold;
  text-align: center;
  font-family: 'Righteous', cursive;

}
.jumbotron{
  text-align: center;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color:red;
  font-family: 'Righteous', cursive;

}